<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="MainStreet.BusinessFlow.Web.ResponseCache" type="MainStreet.BusinessFlow.SDK.Web.ResponseCache.ResponseCacheSectionHandler,MainStreet.BusinessFlow.SDK.Web" allowLocation="false" />
    <sectionGroup name="MainStreet.BusinessFlow.SDK" type="MainStreet.BusinessFlow.SDK.Web.SdkWebSectionGroup, MainStreet.BusinessFlow.SDK.Web">
      <section name="deployment" type="MainStreet.BusinessFlow.SDK.Config.DeploymentSection, MainStreet.BusinessFlow.SDK" />
      <section name="credentials" type="MainStreet.BusinessFlow.SDK.Config.CredentialsSection, MainStreet.BusinessFlow.SDK" />
      <section name="environment" type="MainStreet.BusinessFlow.SDK.Config.EnvironmentSection, MainStreet.BusinessFlow.SDK" />
      <section name="identity" type="MainStreet.BusinessFlow.SDK.Config.IdentitySection, MainStreet.BusinessFlow.SDK" />
      <section name="webServices" type="MainStreet.BusinessFlow.SDK.Config.WebServicesSection, MainStreet.BusinessFlow.SDK" />
      <section name="cart" type="MainStreet.BusinessFlow.SDK.Config.CartSection, MainStreet.BusinessFlow.SDK" />
      <section name="inventory" type="MainStreet.BusinessFlow.SDK.Web.Config.InventorySection, MainStreet.BusinessFlow.SDK.Web" />
      <section name="pages" type="MainStreet.BusinessFlow.SDK.Web.Config.PagesSection, MainStreet.BusinessFlow.SDK.Web" />
      <section name="ssl" type="MainStreet.BusinessFlow.SDK.Web.Config.SslSection, MainStreet.BusinessFlow.SDK.Web" />
      <section name="urlRewrite" type="MainStreet.BusinessFlow.SDK.Web.UrlRewrite.Config.UrlRewriteSection, MainStreet.BusinessFlow.SDK.Web" />
      <section name="minimalState" type="MainStreet.BusinessFlow.SDK.Web.State.MinimalStateProvidersSection, MainStreet.BusinessFlow.SDK.Web" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="E:\Projects\MSC\BabyHaven\ChannelSale\ErrorLog\ErrorLog.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="1024KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>

  </log4net>

  <appSettings>
    <add key="FileName" value="D:\BabyHaven\channelfeed.xls"/>
    <add key="RowCount" value="45"/>
    <add key="process" value="100"/>

    <add key="CSFTPServer" value="Babyhaven.com"/>
    <add key="CSFTPUser" value="tejas"/>
    <add key="CSFTPPassword" value="wRAqA5he"/>
  </appSettings>

  <MainStreet.BusinessFlow.SDK xmlns="urn:mainstreet-businessflow-sdk">
    <deployment appName="BabyHaven.com Website" logErrors="false" errorEmail="" logAppStates="Basic" safeMode="Off" />
    <!--Live-->    
    <credentials domain="strollerbabies.com" username="website" password="asFn7u"/>
    <environment catalog="babyhaven.com"/>
    <webServices baseUrl="http://businessflow.mainstreetcommerce.com/3.9.6">
      <callPolicies secure="None"/>
    </webServices>
    
    <!--Stage-->
    <!--<credentials domain="stage.strollerbabies.com" username="website" password="ylyiiiui"/>
    <environment catalog="babyhaven.com"/>
    <webServices baseUrl="http://stagebusinessflow.mainstreetcommerce.com/3.9.6/">
      <callPolicies secure="None"/>
    </webServices>-->

  </MainStreet.BusinessFlow.SDK>

  <microsoft.web.services3>
    <messaging>
      <mtom clientMode="On" />
    </messaging>
  </microsoft.web.services3>

</configuration>
